.menu-name {
  padding-left: 100px;
  margin-top: 30px;
}
.menu-name h2 {
  font-weight: lighter;
  font-size: 30px;
}

.false-message {
  display: none;
}

.form-wrapper {
  padding-left: 100px;
}

.box {
  margin-top: 40px;
}

.input-label {
  font-weight: bold;
  margin-right: 10px;
}

span {
  background-color: rgb(228, 53, 134);
  padding: 4px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

#name, #mail {
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
  width: 400px;
}

textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
  width: 400px;
}

.submit-label {
  margin-top: 20px;
  width: 420px;
  height: 50px;
  background-color: rgb(114, 114, 116);
  color: white;
  font-size: 20px;
  border-radius: 7px;
}