.thanks {
  padding-top: 5%;
  text-align: center;
}

.back-to-top {
  margin-top: 50px;
}

.thanks a {
  color: black;
  text-decoration: none;
  background-color: rgb(218, 213, 213);
  padding: 3px;
  margin-left: 10px;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
}

.thanks a:hover {
  cursor: pointer;
}