body {
  background-color: white;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p{
  padding: 10px 0;
  margin: 0;
  
}

header{
  margin-top: 0px;
}

.heading{
  padding-top: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}

.title {
  letter-spacing: 10px;
}

.title a {
  text-decoration: none;
  color: black;
}

.sns {
  margin-right: 100px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.twitter-follow-button{
  padding: 8px 0;
  background-color: #1b95e0;
  margin-right: 10px;
  height: 36px;
  border-radius: 3px;
}

.navbar{
  padding: 15px;
  width: 40%;
  float: right;
  margin-right: 100px;
  background-color: aquamarine;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-btn a{
  padding-right:10px;
  text-decoration: none;
}




.contents {
  /* 子要素に合わせて大きさを変動させるためにheightを削除 */
  width: 100%;
  /* background-color: skyblue; */
  margin: 0 auto;
}

.left-content {
  height: 400px;
  width: 55%;
  background-color: #ffffff;
  float: left;
  padding: 10px;
  margin-right: 2%;
}

.left-content h2 {
  font-family: fantasy;
}

table {
  border: 4px inset;
  width: 100%;
}

.right-content {
   height: 400px;
   width: 35%;
   background-color: #f9f9f9;
   float: left;
   padding: 10px;
}

footer{
  /* background-color: pink;
  height: 50px; */
  text-align: center;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.heading-sentence{
  font-size: 18px;
  /* background-color: yellow; */
  padding-top: 30px;
}


.kochira{
  /* background-color: blue; */
}


td{
  margin: 0;
  padding-left: 10px;
  line-height: 30px;
}

.stylist-image{
  height: 100px;
  width: 100px;
}

.stylist-name{
  font-size: 16px;
  text-align: center;
}