body {
  background-color: white;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

header{
  margin-top: 0px;
}

.heading{
  padding-top: 70px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}

.title {
  letter-spacing: 12px;
  font-weight: bold;
  font-size: 40px;
}

.title a {
  text-decoration: none;
  color: black;
}

.sns {
  margin-right: 100px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.sns li {
  margin-right: 10px;
  height: 36px;
  line-height: 45px;
}

.twitter-follow-button{
  padding: 8px 0;
  background-color: #1b95e0;
  border-radius: 3px;
}

.navbar{
  padding: 15px;
  width: 40%;
  margin: 0 100px 0 auto;
  text-align: right;
}
/* -------------- */
.navbar ul {
  font-size: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 4px;
	list-style: none;
	text-align: center;
}

.navbar li {
	font-size: 15px;
	margin: 0 8px;
	display: inline-block;
}

.navbar li a {
	text-decoration: none;
	padding-bottom: 3px;
	color: #000;
	display: block;
}
.navbar li a:after {
	content: '';
	width: 0;
	transition: all 0.3s ease;
	border-bottom: 3px solid #000;
	display: block;
}
.navbar li a:hover:after {
	width: 100%;
	border-bottom: 3px solid #000;
}
/* --------------------- */

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-btn a{
  padding-right:10px;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px;
}

.top-page-contents {
  position: relative;
}

.impact-wrapper {
  width: 100%;
}

.impact-back-web {
  font-size: 40px;
  color: antiquewhite;
  margin-left: 15%;
  display: none;
}

.impact-back-acct {
  font-size: 40px;
  color: antiquewhite;
  text-align: right;
  margin-right: 15%;
  display: none;
}

footer{
  text-align: center;
  width: 100%;
  background-color: rgb(211, 212, 214);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}